<h1>Dashboard</h1>

<div class="row">
  <div class="col-sm-4 col-xs-4">
    <div id="first-well" class="well" >
      <h2><strong><%= @coins %></strong></h2>
      <p class="lead">Coins</p>
    </div>
  </div>
  <div class="col-sm-4 col-xs-4">
    <div class="well">
      <h2><strong><%= @money %></strong></h2>
      <p class="lead">Cents</p>
    </div>
  </div>
      <div class="col-sm-4 col-xs-4">
        <div class="well">
          <h2><strong><%= @pickers_count %></strong></h2>
          <p class="lead">Contributors</p>
        </div>
      </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div id="chart-container" class="well">
      <h2>Accumulated coins</h2>
      <svg class="chart"></svg>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xs-12">
    <h2>Last pickups</h2>
    <table class="table">
    <% @last_pickups.each do |pickup| %>
      <tr>
        <td><%= link_to pickup.coin, pickup_path(pickup) %> by <strong><%= pickup.picker.username %></strong>, <%= time_ago_in_words(pickup.picked_at) %> ago.</td>
      </tr>
    <% end %>
    <% if @last_pickups.empty? %>
      <tr><td>There isn't recent pickups. Go out and pick up some coins!</td><tr>
    <% end %>
    </table>
  </div>

  <div class="col-sm-6 col-xs-12">
    <h2>Last 30 days top pickers</h2>
    <table class="table">
    <% @top_users_monthly.each_with_index do |top_user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><strong><%= link_to top_user['username'], user_path(top_user['id']) %></strong></td>
        <td style="text-align: right;" title="<%= pluralize(top_user['coins'], 'coin') %>"><%= top_user['coins'] %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<style>
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
</style>

<script>
$(document).ready(function() {

  var dataset_2 = [
  <% @pickups_monthly.sort.map do |m, p| %>
    {'month': '<%= Date::MONTHNAMES[m.month][0, 3] %>', 'coins': <%= p.size %>},
  <% end %>
  ];

  var margin = {top: 20, right: 0, bottom: 20, left: 20};
  var w = $('#chart-container').width() - margin.right - margin.left;
  var h = 150 - margin.top - margin.bottom;
  var barPadding = 1;
  var topPadding = 20;
  var svg = d3.select("svg")
      .attr("width", w + margin.right + margin.left)
      .attr("height", h + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // scale
  var xScale = d3.scale
      .ordinal()
      .domain(dataset_2.map(function(d) {return d.month;}))
      .rangeBands([0, w]);
  var yScale = d3.scale
      .linear()
      .domain([d3.max(dataset_2, function(d) { return d.coins; }), 0])
      .range([0, h]);

  // data
  svg.selectAll("rect")
      .data(dataset_2)
      .enter()
      .append("rect")
      .attr("fill", "#a4725a")
      .attr("x", function(d, i) {
          return i * (w / dataset_2.length);
      })
      .attr("y", function(d) {
          return yScale(d.coins);  //Height minus data value
      })
      .attr("width", w / dataset_2.length - barPadding)
      .attr("height", function(d) {
          return h - yScale(d.coins);
      });
    
  // texts
  svg.selectAll("text")
      .data(dataset_2)
      .enter()
      .append("text")
      .text(function(d) {
          return d.coins;
      })
      .attr("x", function(d, i) {
          return i * (w / dataset_2.length) + (w / dataset_2.length - barPadding) / 2;
      })
      .attr("y", function(d) {
          return yScale(d.coins) - 2;
      })
      .attr("font-size", "1rem")
      .attr("fill", "black")
      .attr("text-anchor", "middle");

    // Axes
    var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient("bottom")
        .ticks(dataset_2.length);
    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0, " + h + ")")
        .call(xAxis);
    var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient("left")
        .ticks(5);
    svg.append("g")
        .attr("class", "axis")
        .call(yAxis);
});
</script>
