<h2>Total</h2>
<row>
  <div class="col-md-6">
    <div class="well">
      <h2><strong><%= @coins %></strong></h2>
      <p class="lead">Coins</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2><strong><%= @money %></h2></strong>
      <p class="lead">Cents</p>
    </div>
  </div>
</row>

<div>
  <h2>Top pickers</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Coins</th>
        <th>Value</th>
      </tr>
    </thead>
  <% @top_users.each_with_index do |top_user, index| %>
    <tr class="lead">
      <td><%= index + 1 %></td>
      <td><%= top_user['username'] %></td>
      <td><%= top_user['coins'] %></td>
      <td><%= top_user['value'] %></td>
    </tr>
  <% end %>
  <table>
</div>
