<%= form_for(@pickup, :html => {:role => 'form'}) do |f| %>
  <% if @pickup.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @pickup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4 field form-group">
      <%= f.label :coin %><br>
      <%= f.collection_select :coin_id, Coin.all, :id, :to_s, {}, {:class => 'form-control'} %>
    </div>

    <div class="col-md-4 field form-group">
      <%= f.label 'Date' %><br>
      <%= f.date_field :picked_at_date, :value => (@pickup.picked_at_date.strftime("%d/%m/%Y")), :class => 'form-control', title: 'Format: dd/mm/yyyy' %>
    </div>

    <div class="col-md-4 field form-group">
      <%= f.label 'Time' %><br>
      <%= f.time_field :picked_at_time, :value => (@pickup.picked_at_time.strftime("%H:%M")), :class => 'form-control', title: 'Format: hh:mm' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :comments %><br>
    <%= f.text_area :comments, rows: 3, class: 'form-control' %>
  </div>


  <%= f.hidden_field :longitude, :class => 'form-control' %>
  <%= f.hidden_field :latitude, :class => 'form-control' %>


  <span id="search_location_msg" class="text-info"><i class="fa fa-circle-o-notch fa-spin"></i> Searching for location...</span>
  <div id="location_part" class="field form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class => 'form-control' %>
  </div>

  <hr>

  <div class="form-group actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
