<%= form_for(@pickup, :html => {:role => 'form'}) do |f| %>
  <% if @pickup.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @pickup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :coin %><br>
    <%= f.collection_select :coin_id, Coin.all.order(currency_id: :asc, value: :asc), :id, :to_s, {}, {:class => 'form-control'} %>
  </div>

  <%= f.hidden_field :longitude, :class => 'form-control' %>
  <%= f.hidden_field :latitude, :class => 'form-control' %>


  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class => 'form-control' %>
  </div>


    <% unless @edit_mode %>
    <div class="pull-right form-group form-inline">
      <a id="show-advanced" data-toggle="collapse" href="#collapseOne"><i class="fa fa-angle-double-right"></i> Show advanced options</a>
      <a id="hide-advanced" data-toggle="collapse" href="#collapseOne" style="display: none;"><i class="fa fa-angle-double-down"></i> Hide advanced options</a>
    </div>
    <div class="clearfix"></div>
    <% end %>

    <div id="collapseOne" <% unless @edit_mode %>class="collapse"<% end %>>
        <div class="form-group">
          <%= f.label :comments %><br>
          <%= f.text_area :comments, rows: 3, class: 'form-control' %>
        </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 form-group">
          <%= f.label :picker %><br>
          <%= f.collection_select :picker_id, @pickers, :id, :username, {}, {:class => 'form-control'} %>
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <%= f.label 'Date' %><br>
          <%= f.date_field :picked_at_date, :class => 'form-control' %>
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <%= f.label 'Time' %><br>
          <%= f.time_field :picked_at_time, :value => (@pickup.picked_at_time.strftime("%H:%M")), :class => 'form-control', title: 'Format: hh:mm' %>
        </div>
      </div>
    </div>

  <hr>

  <div class="form-group">
    <% if @edit_mode %>
    <%= f.submit :class => 'btn btn-primary col-xs-12' %>
    <%= link_to 'Cancel', pickups_path, :class => 'btn btn-link' %>
    <% else %>
    <%= f.submit :class => 'btn btn-primary btn-lg col-xs-12' %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  var GMAPS_TIMEOUT = 5000;

  function isDateControlSupported() {
    var tester = document.createElement('input');
    tester.type = 'date';
    tester.value = ':(';
    return tester.type === 'date' && tester.value === '';
  }

  function isGmapsLoaded() {
    return typeof google === 'object' && typeof google.maps === 'object';
  }

  function searchLocationText(lat, lng) {
    if (!isGmapsLoaded()) {
      console.error("Google maps could not be found");
      return;
    }

    var latlng = new google.maps.LatLng(lat, lng);
    var geocoder = new google.maps.Geocoder();

    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          $("#pickup_location").val(results[1].formatted_address);
        }
      } else {
        console.error("Google maps error: " + status);
      }
    });
  }

  $(document).ready(function() {
    var show_advanced = $('#show-advanced');
    var hide_advanced = $('#hide-advanced');
    var toggle_advanced = function() {
      show_advanced.toggle();
      hide_advanced.toggle();
    }
    show_advanced.click(toggle_advanced);
    hide_advanced.click(toggle_advanced);
  });

  $(document).ready(function() {
    var input = document.getElementById('pickup_location');
    var searchBox = new google.maps.places.SearchBox(input);
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
      if (places.length == 0) {
        return;
      }
      places.forEach(function(place) {
        if (!place.geometry) {
          console.warn("Returned place contains no geometry");
          return;
        }
        $("#pickup_latitude").val(place.geometry.location.lat);
        $("#pickup_longitude").val(place.geometry.location.lng);
      });
    });
  });
</script>
