<h1>Listing pickups</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Coin</th>
      <th>Picker</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pickups.each do |pickup| %>
      <tr>
        <td><%= pickup.date.strftime("%m/%d/%Y %H:%M") %></td>
        <td><%= pickup.coin %></td>
        <td><%= pickup.picker.username %></td>
        <td style="text-align: right;">
          <%= link_to pickup, :title => "Show" do %><i class="fa fa-eye"></i><% end %>
          <%= link_to edit_pickup_path(pickup), :title => "Edit" do %><i class="fa fa-edit"></i><% end %>
          <%= link_to pickup, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Delete" do %><i class="fa fa-trash-o"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
