<h1>Pickups</h1>

<% if notice %>
<p id="notice" class="text-info"><i class="fa fa-info"></i> <%= notice %></p>
<% end %>

<p>
  <%= link_to new_pickup_path do %><i class="fa fa-plus"></i> New pickup<% end %>
  <span style="padding-right: 1rem;"></span>
  <%= link_to pickups_path(format: "csv"), title: "Download list as a CSV file" do %><i class="fa fa-download"></i> Download<% end %>
</p>

<div class="form-group form-inline">
  <a id="show-filtering" data-toggle="collapse" href="#collapseOne" title="Show filtering options"><i class="fa fa-angle-double-right"></i> Filter</a>
  <a id="hide-filtering" data-toggle="collapse" href="#collapseOne" title="Hide filtering options" style="display: none;"><i class="fa fa-angle-double-down"></i> Hide</a>
</div>
<div id="collapseOne" class="panel panel-default collapse <% if @show_filter_form %>in<% end %>">
  <div class="panel-body">
    <%= form_tag pickups_path, :method => 'get', :role => 'form' do %>
      <div class="row">
        <div class="form-group col-sm-4 col-xs-12">
          <%= label_tag :year %>
          <%= select_tag :year, options_for_select(@years, params[:year]), {include_blank: 'Any year', class: 'form-control'} %>
        </div>
        <div class="form-group col-sm-4 col-xs-12">
          <%= label_tag :picker_id %>
          <%= select_tag :picker_id, options_from_collection_for_select(@pickers, :id, :username, params[:picker_id]), {include_blank: 'Any picker', class: 'form-control'} %>
        </div>
        <!-- TODO -->
        <div class="form-group col-sm-4 col-xs-12">
          <%= label_tag :coordinates %>
          <%= select_tag :coordinates, options_for_select({'Yes' => true, 'No' => false}), {include_blank: 'Whatever', class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= button_tag :name => nil, :class => 'btn' do %><i class="fa fa-search"></i> Search<% end %>
      </div>
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Coin</th>
      <th>Picker</th>
      <th class="hidden-xs">Location</th>
      <th class="hidden-xs"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickups.each do |pickup| %>
      <tr>
        <td><%= pickup.picked_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= link_to pickup.coin, pickup_path(pickup) %></td>
        <td><%= pickup.picker.username %></td>
        <td class="hidden-xs"><%= truncate(pickup.location, length: 24) %></td>
        <td class="hidden-xs" style="text-align: right;">
          <div class="btn-group">
            <% if can_edit pickup.picker_id %>
            <%= link_to pickup, method: :delete, data: { confirm: "Do you really want to delete the pickup?" }, :title => "Delete", :class => 'btn btn-default btn-sm' do %><i class="fa fa-trash-o"></i><% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= paginate @pickups %></p>

<script type="text/javascript">
  // decide based on params presence
  $(document).ready(function() {
    var show_filtering = $('#show-filtering');
    var hide_filtering = $('#hide-filtering');
    var toggle_filtering = function() {
      show_filtering.toggle();
      hide_filtering.toggle();
    }
    show_filtering.click(toggle_filtering);
    hide_filtering.click(toggle_filtering);

    <% if @show_filter_form %>
    show_filtering.hide();
    hide_filtering.show();
    <% else %>
    show_filtering.show();
    hide_filtering.hide();
    <% end %>
  });
</script>
