<h1>Pickups</h1>

<% if notice %>
<p id="notice" class="text-info"><i class="fa fa-info"></i> <%= notice %></p>
<% end %>

<p>
  <%= link_to new_pickup_path do %><i class="fa fa-plus"></i> New pickup<% end %>
  <span style="padding-right: 1rem;"></span>
  <%= link_to pickups_path(format: "csv"), title: "Download list as a CSV file" do %><i class="fa fa-download"></i> Download<% end %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
      <th>Coin</th>
      <th>Picker</th>
      <th class="hidden-xs">Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pickups.each do |pickup| %>
      <tr>
        <td><%= pickup.picked_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><% if pickup.handed_over %><i class="fa fa-check handed_over_check" title="Handed over"></i><% end %></td>
        <td><%= link_to pickup.coin, pickup_path(pickup) %></td>
        <td><%= pickup.picker.username %></td>
        <td class="hidden-xs"><%= pickup.location %></td>
        <td style="text-align: right;">
          <div class="btn-group">
            <% if can_edit pickup.picker_id %>
            <%#= link_to pickup, :title => "Show", :class => 'btn btn-default' do %><!--i class="fa fa-eye"></i--><%# end %>
            <%= link_to edit_pickup_path(pickup), :title => "Edit", :class => 'btn btn-default btn-sm' do %><i class="fa fa-edit"></i><% end %>
            <%= link_to pickup, method: :delete, data: { confirm: "Do you really want to delete the pickup?" }, :title => "Delete", :class => 'btn btn-default btn-sm' do %><i class="fa fa-trash-o"></i><% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= paginate @pickups %></p>
