<h1><%= @pickup.coin %></h1>

<% if notice %>
<p id="notice" class="text-info"><i class="fa fa-info"></i> <%= notice %></p>
<% end %>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Picked by <strong><%= @pickup.picker.username %></strong> on <%= @pickup.picked_at.strftime("%d %B %Y") %> at <%= @pickup.picked_at.strftime("%H:%M") %>.</p>

    <% unless @pickup.comments.blank? %>
    <blockquote>
      <p><%= @pickup.comments %></p>
    </blockquote>
    <% end %>

    <% if @can_edit %>
    <%= link_to edit_pickup_path(@pickup) do %><i class="fa fa-edit"></i> Edit<% end %>
    <% end %>
  </div>

  <div class="col-md-12">
    <h3><% if @pickup.has_coordinates? %><i class="fa fa-location-arrow"></i> <% end %>Location</h3>
    <div id="map-canvas" style="height: 300px;"></div>

    <input id="pac-input" type="text" style="width: 100%;" value="<%= @pickup.location %>"
      <% if @pickup.has_coordinates? %> disabled<% else %> placeholder="Enter location"<% end %>>
    <%= form_for(@pickup, :url =>  {:action => 'update_coordinates'}, :html => {:role => 'form'}) do |f| %>
      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :location %>
      <%= f.button :type => 'submit', :class => 'btn btn-default hidden', :id => "saveCoordinatesBtn" do %>
        <i class="fa fa-save"> Save coordinates</i>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  let lonLat = [<%= @pickup.longitude %>, <%= @pickup.latitude %>];

<% if @pickup.has_coordinates? %>
  var marker = new ol.Feature({
      geometry: new ol.geom.Point(ol.proj.fromLonLat(lonLat))
  });
  marker.setStyle(
    new ol.style.Style({
      image: new ol.style.Icon({
        color: '#c3886a',
        crossOrigin: 'anonymous',
        // For Internet Explorer 11
        imgSize: [20, 20],
        src: '<%= asset_path("dot.svg") %>',
      }),
    })
  );

  var vectorSource = new ol.source.Vector({features: [marker]});
  var vectorLayer = new ol.layer.Vector({source: vectorSource});

  var map = new ol.Map({
    target: document.getElementById('map-canvas'),
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      }), 
      vectorLayer
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat(lonLat),
      zoom: 7
    })
  });
 <% else %>
    // TODO no coordinates case
<% end %>
});
</script>
