<h1><%= @pickup.coin %></h1>
<p class="lead">Picked by <strong><%= @pickup.picker.username %></strong> on <%= @pickup.picked_at.strftime("%d %B %Y") %> at <%= @pickup.picked_at.strftime("%H:%M") %>.</p>
<p>

<% unless @pickup.comments.blank? %>
<blockquote>
  <p><%= @pickup.comments %></p>
</blockquote>
<% end %>

<% if @can_edit %>
<%= link_to edit_pickup_path(@pickup) do %><i class="fa fa-edit"></i> Edit<% end %>
<% end %>
