<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :username %><br/>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <hr/>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
