<h1>Edit user</h1>

<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :username %><br/>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'Save username', class: 'btn btn-primary'%>
  </div>
<% end %>
<hr/>


<%= form_for @user, :html => { :multipart => true } do |f| %>
  <div class="field form-group">
    <%= f.label :avatar %><br/>
    <%= image_tag @user.avatar.url(:thumb), class: 'img-circle' %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions form-group">
    <%= f.submit 'Upload avatar', class: 'btn btn-primary'%>
  </div>
<% end %>
<hr/>


<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'Change password', class: 'btn btn-primary'%>
  </div>
<% end %>
</div>
