<h1>Edit user</h1>

<% if @user.errors.any? %>
  <div id="password_error_explanation" class="alert alert-danger">
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
  <div class="form-group">
    <%= f.label :username %><br/>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'Save username', class: 'btn btn-primary'%>
  </div>
  <%= f.hidden_field :update_type, value: "username" %>
<% end %>
<hr/>


<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'Change password', class: 'btn btn-primary'%>
  </div>
  <%= f.hidden_field :update_type, value: "password" %>
<% end %>
</div>
