<div>
<% if notice %>
  <p id="notice" class="text-info"><i class="fa fa-info"></i> <%= notice %></p>
<% end %>
<div>

<div class="row">
  <div class="col-md-8 col-sm-4">
    <h2><%= @user.username %></h2>
    <p><%= @user.email %></p>

    <% if @current_user %><%= link_to edit_user_path(@user) do %> <i class="fa fa-edit"></i> Edit<% end %><% end %>
  </div>
</div>

<div class="row">
  <h2>Stats</h2>
  <div class="col-sm-3 col-xs-6">
    <div id="first-well" class="well" >
      <h2><strong><%= @coins %></strong></h2>
      <p class="lead">Coins</p>
    </div>
  </div>
  <div class="col-sm-3 col-xs-6">
    <div class="well">
      <h2><strong><%= @money %></strong></h2>
      <p class="lead">Cents</p>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <h2>Last pickups</h2>
    <table class="table">
    <% @last_pickups.each do |pickup| %>
      <tr>
        <td><%= link_to pickup.coin, pickup_path(pickup) %>, <%= time_ago_in_words(pickup.picked_at) %> ago.</td>
      </tr>
    <% end %>
    <% if @last_pickups.empty? %>
      <tr><td>No pickups yet. Try harder!</td><tr>
    <% end %>
    </table>
  </div>
</div>

