<div>
  <h1 style="float: left;"><%= @year %> Stats</h1>

  <nav style="float: right;">
    <ul class="pagination">
      <% @years.each do |y| %>
      <% if y == @year %>
      <li class="active">
      <% else %>
      <li>
      <% end %>
        <%= link_to y, :year => y %>
      </li>
      <% end %>
    </ul>
  </nav>
</div>

<div style="clear: both;"/>

<div class="row">
  <div class="col-sm-6">
    <h2>Pickers</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th style="text-align: right;">Coins</th>
          <th style="text-align: right;">Value</th>
        </tr>
      </thead>
    <% @top_users.each_with_index do |top_user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><strong><%= link_to top_user['username'], user_path(top_user['id']) %></strong></td>
        <td style="text-align: right;"><%= top_user['coins'] %></td>
        <td style="text-align: right;"><%= top_user['value'] %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-sm-6">
    <h2>Coins</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th style="text-align: right;">Times Picked</th>
        </tr>
      </thead>
      <% @coins_by_type.each_with_index do |coin, index| %>
      <tr>
        <td><%= coin['coin'] %> cents</td>
        <td style="text-align: right;"><%= coin['amount'] %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>By Month</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Month</th>
          <th style="text-align: right;">Pickups</th>
        </tr>
      </thead>
      <% @pickups_by_month.each do |month, coins| %>
      <tr>
        <td><%= Date::MONTHNAMES[month.month] %></td>
        <td style="text-align: right;"><%= coins.size %></td>
      </tr>
      <% end %>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Map</h2>
    <div id="map-canvas" style="height: 200px;"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var coins = [
      <% @all_coins.each { |c| %>
        {lat:<%= c.latitude %>, lon:<%= c.longitude %>},
      <% } %>
    ];

    var bounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById('map-canvas'), {});

    for (var i = 0; i < coins.length; i++) {
      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(coins[i].lat, coins[i].lon),
          map: map
      });
      bounds.extend(marker.position);
    }
    map.fitBounds(bounds);
  });
</script>
